version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: price-db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

  flask-app:
    build:
      context: ./app
      dockerfile: Dockerfile.flask
    container_name: flask-container
    restart: always
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  airflow:
    build:
      context: ./airflow
      dockerfile: Dockerfile.airflow
    container_name: airflow-container
    restart: always
    env_file:
      - ./app/.env
    ports:
      - "${AIRFLOW_PORT}:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    depends_on:
      - postgres

volumes:
  pgdata:
